@font-face {
   font-family: 'Hind';
   font-style: normal;
   font-weight: 300;
   src: url('file:///C:/Users/MASTER/Documents/GitHub/yakuplu//fonts/Hind/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Hind';
   font-style: normal;
   font-weight: 500;
   src: url('file:///C:/Users/MASTER/Documents/GitHub/yakuplu//fonts/Hind/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Hind';
   font-style: normal;
   font-weight: 600;
   src: url('file:///C:/Users/MASTER/Documents/GitHub/yakuplu//fonts/Hind/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Hind';
   font-style: normal;
   font-weight: 700;
   src: url('file:///C:/Users/MASTER/Documents/GitHub/yakuplu//fonts/Hind/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Hind';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/MASTER/Documents/GitHub/yakuplu//fonts/Hind/regular.ttf') format('truetype');
}
