@font-face {
   font-family: 'Audiowide';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/MASTER/Documents/GitHub/yakuplu//fonts/Audiowide/regular.ttf') format('truetype');
}
